.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

.about-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width:400px; 
  margin-right: 20px;
  border-radius: 50%; 
}

.about-text {
  max-width: 600px;
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 10px; 
}

/* Cover Image */
.cover-image {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

/* Scroll animation */
.scroll-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-container {
    align-items: center;
  }

  .about-content {
    flex-direction: column;
    align-items: center; 
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
    width: 150px;
  }

  .about-text {
    max-width: 100%;
    text-align: center;
  }

  .cover-image {
    width: 90%;
    max-width: 600px;
  }
}
