/* General Styles for Navbar */
.navbar {
  background-color: #3B82F6BF;
  padding: 6px;
  position: relative;
}

.navbar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Toggle Button for Dropdown */
.navbar-toggle {
  display: none;
  background-color: #3B82F6;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 5px; 
}

/* Navbar Menu */
.navbar-menu {
  display: flex;
  flex-direction: row;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 15px;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #1e90ff;
}

/* Dropdown Menu for Phones */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu a {
    margin: 10px 0;
    text-align: center;
  }
}
