/* App.css */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Family */
body {
  font-family: Arial, sans-serif;
  font-size: 12px; /* npm run deploy font is not the same as local */
  background: #E0F2FE; /* Lighter Blue */
  color: #111827; /* Neutral Blue */
}

/* Global Link Styles */
a {
  color: #3B82F6; /* Secondary Blue */
  text-decoration: none;
}

a:hover {
  color: #93C5FD; /* Light Blue */
}

/* Header and Footer Styling */
header {
  background: #1E3A8A; /* Primary Blue */
  padding: 20px;
  color: white;
  text-align: center;
}

footer {
  background: #1E3A8A; /* Primary Blue */
  padding: 20px;
  color: white;
  text-align: center;
}

/* Navigation Styling */
nav {
  background: #3B82F6; /* Secondary Blue */
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: #93C5FD; /* Light Blue */
}